@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: v.$fuentePrincipal;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}